.map-collector-wrapper {
    margin-top:25px;
    margin-bottom:25px
}

@media (max-width: 576px) {
    .hide-on-small-screen {
      display: none;
    }
  }

  .presidency-text {
    font-size: 20px !important;
  }

@media (max-width:768px) {
  .presidency-text {
    font-size: 10px !important;
  }
}


  .button-map-collector {
    display:flex;
    justify-content:center;
    width:100%;
    border-radius:0;
    align-items:center;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: solid black 1px;
  }

  .map-image {
    width:7%;
    margin-right:10px;
  }

  .ErdoğanColor {
    background-color: orange;
}

.KılıçdaroğluColor {
    background-color : red;
}

.OğanColor {
    background-color : black;
}

.İnceColor {
    background-color : blue;
}