.AKPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #ea8512 !important;
}

.IPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #c0d642!important;
}

.MHPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #150542 !important;
}

.CHPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #E23D29 !important;
}

.LDPheader {

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #0C4DA1!important;

}

.ZPheader {

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #000306 !important;

}

.MEMLEKETheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #167fca !important;
}

.GELheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #074210 !important;

}

.DEMheader  {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #690361 !important;
}


.DEVAheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #1f36cd !important;
}

.SPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #f44343 !important;
}

.YRPheader {

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #59391b!important;

}