.AKPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(234, 133, 18) !important;
}

.IPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #c0d642!important;
}

.MHPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(21, 5, 66) !important;
}

.CHPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #E23D29 !important;
}

.YSPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(101, 33, 87) !important;
}

.LDPheader {

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #0C4DA1!important;

}

.ZPheader {

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(0, 3, 6) !important;

}

.MEMLEKETheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(22, 127, 202) !important;
}

.CANheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(245, 3, 189) !important;
}

.GELheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(7, 66, 16) !important;

}

.DEMheader  {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(105, 3, 97) !important;
}


.DEVAheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(31, 54, 205) !important;
}

.SPheader {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: rgb(244, 67, 67) !important;
}

.YRPheader {

    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: #59391b!important;

}