.header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-header-content{
    display: flex;
    flex-direction: column;
}

.header-image {
    width: 100%;
    height: auto;
    display: block;
}
.image-link {
    width: 10%;
}

@media (max-width:767px) {
    .image-link {
        width: 25%;
    }
}

@media (min-width:767px) {
    .image-link {
        width: 20%;
    }
}

@media (min-width:992px) {
    .image-link {
        width: 15%;
    }
}

@media (min-width:1200px) {
    .image-link {
        width: 10%;
    }
}

@media (min-width:1400px) {
    .image-link {
        width: 8%;
    }
}

