.wrapper-aday-collector {
    margin-top: 50px ;
}

.wrapper-alliance-card {

    width: 100%;
    height: 550px;
    max-height: 550px;
    overflow-y:scroll;
    border-top: solid 10px;
    border-top-color:blue;
    border-right:none;
    border-left:none;
}

.aday-card-image {

    max-width: 500px;
    width: 80%;
    height: 80% ;
}